@using System.ComponentModel.DataAnnotations
@model WebApplication3.Models.ViewModel.ProfileVm

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProfileEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blood" class="control-label"></label>
                <select asp-for="Blood" class="form-control">
                    @foreach (var bloodType in Enum.GetValues(typeof(WebApplication3.Data.Entities.BloodType)))
                    {
                        var displayAttribute = typeof(WebApplication3.Data.Entities.BloodType)
                        .GetMember(bloodType.ToString())[0]
                        .GetCustomAttributes(typeof(DisplayAttribute), false)
                        .FirstOrDefault() as DisplayAttribute;

                        <option value="@bloodType">@displayAttribute?.GetName()</option>
                    }
                </select>
                <span asp-validation-for="Blood" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="UserId" value="@ViewData["UserId"]">
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
