@model List<WebApplication3.ViewModels.MeasurementVm>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>

    </thead>
    <tbody>
        @foreach (var measurement in Model)
        {
            <tr>
                <td>@measurement.MeasurementId</td>
                <td>@measurement.MeasurementName</td>
                <td>@measurement.MeasurementComment</td>
                <!-- ... Dodaj kolejne komórki z danymi w zależności od potrzeb -->
            </tr>
        }
    </tbody>
</table>
