@using WebApplication3.Models.ViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        <br />
        <div>
            <div class="my-5 p-4 bg-light text-white center">
                <!-- Tutaj możesz umieścić dodatkową zawartość dla zalogowanego użytkownika -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="my-2 p-3 bg-danger text-white text-center square">Div 2</div>
            </div>
            <div class="col-md-4">
                <div class="my-2 p-3 bg-danger text-white text-center square">Div 3</div>
            </div>
            <div class="col-md-4">
                <div class="my-2 p-3 bg-danger text-white text-center square">Div 4</div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="my-2 p-3 bg-secondary text-white text-center square">Div 5</div>
            </div>
            <div class="col-md-4">
                <div class="my-2 p-3 bg-secondary text-white text-center square">Div 6</div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-12">
                <div class="my-5 p-4 bg-secondary text-white text-center">Login to do test or check your data</div>
            </div>
        </div>
    }
</div>
<style>
    .square {
        height: 50px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>
