@using WebApplication3.Models.ViewModel;
@model ArchivesViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Data archives";
}
<h1>@ViewData["Title"]</h1>

<h4><b>Test name</b></h4>
    <table class="table table-bordered table-fixed">
        <thead class="thead-dark">
            <tr>
                <th class="col-3">Doctor name</th>
                <th class="col-1">Result</th>
                <th class="col-1">difference</th>
                <th class="col-4">Description</th>
                <th class="col-3">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-3">x</td>
                <td class="col-1"></td>
                <td class="col-1"></td>
                <td class="col-4"></td>
                <td class="col-3"></td>
            </tr>
            <tr>
                <td class="col-3">x</td>
                <td class="col-1"></td>
                <td class="col-1"></td>
                <td class="col-4"></td>
                <td class="col-3"></td>
            </tr>
            <tr>
                <td class="col-3">x</td>
                <td class="col-1"></td>
                <td class="col-1"></td>
                <td class="col-4"></td>
                <td class="col-3"></td>
            </tr>
            <tr>
                <td class="col-3">x</td>
                <td class="col-1"></td>
                <td class="col-1"></td>
                <td class="col-4"></td>
                <td class="col-3"></td>
            </tr>
        </tbody>
    </table>
  
    <div class="d-flex justify-content-center mt-4">
        <button type="button" class="btn btn-primary">
            Download
        </button>
    </div>
