@model WebApplication3.Models.ViewModel.DeviceVm

@{
    ViewData["Title"] = "Create";
}
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var modelStateEntry in ViewData.ModelState.Values)
            {
                foreach (var error in modelStateEntry.Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            }
        </ul>
    </div>
}
<h1><b>Create</b></h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeviceName" class="control-label"></label>
                <select asp-for="DeviceName" class="form-control">
                    @foreach (var value in Enum.GetValues(typeof(WebApplication3.Data.Entities.DeviceType)))
                    {
                        <option value="@value.ToString()">@Enum.GetName(typeof(WebApplication3.Data.Entities.DeviceType), value)</option>
                    }
                </select>

                <span asp-validation-for="DeviceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>     
            <input type="hidden" asp-for="UserId" value="@ViewData["UserId"]">
            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class ="btn btn-secondary" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
