@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "New test";
}
<h1>@ViewData["Title"]</h1>

    <div class="container mt-4">
        <form>
            <div class="form-group">
                <label for="examType">Type of Examination:</label>
                <select class="form-control" id="examType" name="examType">
                    <option value="HeightMeasurement">Height Measurement</option>
                    <option value="WeightMeasurement">Weight Measurement</option>
                    <option value="BmiMeasurement">BMI Measurement</option>
                    <option value="PulseRateMeasurement">Pulse Rate Measurement</option>
                    <option value="GlucoseMeasurement">Glucose Measurement</option>
                    <option value="OxygenSaturationMeasurement">Oxygen Saturation Measurement</option>
                </select>

            </div>
            <div class="form-group">
                <label for="examDate">Examination Date:</label>
                <input type="date" class="form-control" id="examDate" name="examDate">
            </div>
            <div class="form-group">
                <label for="examDescription">Examination Description:</label>
                <textarea class="form-control" id="examDescription" name="examDescription" rows="4"></textarea>
            </div>
            <br />
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Add</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form>
    </div>
